{% extends 'base.html' %}

{% block content %}

     <div class="container">


      <div class="starter-template">

        <h1>Liste des voyages</h1>

       <div class="publication row">
      
       {% for travel in travels %}
          <div class="col-lg-8">
              <div class="row publication-header">
                <table>
                  <tr>
                    <td>
                      <img class="publication-header-logo " src="{{ travel.author.image.url }}">
                    </td>
                    <td>
                      <div class="publication-header-announce "> <p>par <b>{{ travel.author.user.username }}</b><br/>
                     Publié le {{ travel.created_date }}</div><!---->
                    </td>
                  </tr>
                </table>
              </div>
            <div class="row publication-content">
              <div class="publication-content-title"> <h4>{{ travel.title }}</h4></div> 
              
              <div><img class="publication-content-image"  src="{{ travel.image.url }}" /> </div>
                <div class="publication-content-text"> 
                <p>{{ travel.description }}</p>
                
               </div>
            </div>
          </div>
           {% endfor %}
        </div>
      </div>
    </div><!-- /.container -->

    <p><a href="{% url 'travel:create_travel' %}">Proposer un voyage</a></p>
    <p><a href="{% url 'main:main_panel' %}">Retour au menu</a></p>

{% endblock content %}
