{% extends 'base.html' %}

{% block content %}



<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Voyages</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse ">
    <ul class="nav navbar-nav">
     
          <li><a href="{% url 'travel:create_travel' %}">Proposer un voyage</a></li>
          <li><a href="{% url 'travel:create_travel' %}">Mes voyages créés</a></li>
          <li><a href="{% url 'travel:create_travel' %}">Voyages auxquels je participe</a></li>
          <li><a href="{% url 'main:main_panel' %}">Retour au menu</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input class="form-control" placeholder="Search" type="text">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>

    </form>
    
  </div><!-- /.navbar-collapse -->
</nav>
     <div class="container">


      <div class="starter-template">

        <h1>Liste des voyages</h1>

       <div class="publication row">
      
       {% for travel in travels %}
          <div class="col-lg-8">
              <div class="row publication-header">
                <table>
                  <tr>
                    <td>
                      <img class="publication-header-logo " src="{{ travel.author.image.url }}">
                    </td>
                    <td>
                      <div class="publication-header-announce "> <p>par <b>{{ travel.author.user.username }}</b><br/>
                     Publié le {{ travel.created_date }}</div><!---->
                    </td>
                  </tr>
                </table>
              </div>
            <div class="row publication-content">
              <div class="publication-content-title"> <h4>{{ travel.title }}</h4></div> 
              
              <div> 
                <img class="publication-content-image"  src="{{ travel.image.url }}" /> 
                <p class="publication-content-text"> {{ travel.description }}</p>
               </div>
            </div>
          </div>
           {% endfor %}
        </div>
      </div>
    </div><!-- /.container -->

{% endblock content %}
