body {

  padding-top: 50px;
  background-color: #E4E4E4;
}

.publication [class*="col-"], footer {

  margin:10px;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 6px 0px 0px 0px;
}

.action{
  border-bottom: 1px double;
  margin-bottom: 10px;
}


.publication-header{
	padding: 0px;
	margin: 0px;
}
.publication-header table{
  vertical-align: top;
}
.publication-header td{
  vertical-align: top;
}
.publication-header-symbole{

  width: 50px;
  /*max-width: 40px;
  min-width: 40px;*/
  /*margin-bottom: -29px;*/
 /* padding-left: 20px;*/
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
  float: right;
  border-radius: 6px 0px 0px 0px;
}

.publication-header-logo{
  width: 50px;
	/*max-width: 40px;
	min-width: 40px;*/
  margin-left: -15px;
  /*margin-bottom: -29px;*/
 /* padding-left: 20px;*/
  display: inline-block;
  vertical-align: top;
  float: left;
  border-radius: 6px 0px 0px 0px;
}

.publication-header-announce {
  /*background-color: rgb(213, 218, 239);
  box-shadow: 0px 0px 5px #000;*/
  display: inline-block;
  word-wrap: break-word;
  vertical-align: middle;
  color: #000;
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-top: 3px;
  padding-left: 10px;
  padding-bottom: 2px;/**/
  padding-right: 0px;
  float: left;
}
.publication-header-announce p{
  margin:0px;
}
.publication-header-time{

  display: inline-block;
}
.publication-content{
  padding: 10px;
  /*margin-left: 40px;
  margin-bottom: 20px;*/
}
.publication-content-title{
  background-color: white;
}

.publication-content-detailed {
  font-size: 30px;
  text-align: center;
 /* border-top: solid 1px;*/
  padding-top: 25px;
  margin-top: 20px;
  /*border-bottom: solid 1px;
  border-bottom-width: 80%;*/
  margin-bottom: 20px;
  padding-bottom: 25px;

}


.publication-content-text{
  word-wrap: break-word;
  text-align: justify;
}


.publication-content-image{
  width: 30%;
  min-width: 200px;
  float: left;
  margin-right: 10px;
}

.publication-participant-logo
{
  width: 30px;
  padding: 0px;
}
.publication-participant-name
{
  font-size: 12px;
  text-align: center;
  padding-left: 20px;
}
.publication-stages{
  margin: 10px;
  padding-left: 10px;
  display: inline-block;
}
.dashboard-action-button{
  margin: 10px;
} 

.dashboard-action-text{
  vertical-align: middle;
} 

h1{
  margin-bottom: 50px;
}
.details{
  text-align: center;
}
.return-back{
  width: 100px;
  text-align: center;
}
.add-vertical-space{
  margin-bottom:10px;
}
.participants {
}
.participants [class*="col-"]{
 padding-left: 0px;
 padding-right: 0px;
}


.nav > li > a > img {
  height: 20px;
  padding-right: 5px;
}


.formulaire-part{
    margin:10px;
  background-color: white;
  box-shadow: 0 0 5px black;
  padding: 10px;
  display: inline-block;
  max-width: 600px;
}

.user_form
{
  margin-left: 10px; 
  margin-right: 10px;
}

strong {
  font-weight: 700;
  text-align: center;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 22px;
}

.family-memebers [class*="col-"]
{

  margin:10px;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 6px 0px 0px 0px;
 
}

.sub-content{
  font-size: 24px;
}

.sub-content  table  tr  td{
  padding-right: 20px;
  width: 100%;
}
.sub-content-voyage
{
  width: 50px;

}
.sub-content-voyage img{
  width: 100%;
}

#notif_count{
  color: red;
  font-size: 20px;
}