{% extends 'base.html' %}


{% block content %}



<div class="container">
      
        <h1>Bienvenue</h1>

        <div class="starter-template">

        <h1>{{ title }}</h1>

       <div class="publication row">
      
       {% for item in historique %}
         {% if item.fact.object_type == 'TR' %}
              <div class="col-lg-8">
                  <div class="row publication-header">
                    <table>
                      <tr>
                        <td>
                          <img class="publication-header-logo " src="{{ item.fact.actor.image.url }}"/>
                        </td>
                          {% if item.fact.action_type == 'TC' %}
                            <img class="publication-header-symbole" src="/static/images/TC.png" />
                          {% elif item.fact.action_type == 'TS' %}
                            <img class="publication-header-symbole" src="/static/images/TS.png" />
                          {% elif item.fact.action_type == 'TU' %}
                            <img class="publication-header-symbole" src="/static/images/TU.png" />
                          {% endif %}
                        <td> 
                          <div class="publication-header-announce "><b>{{ item.fact.actor.user.username }} 
                          {% if item.fact.action_type == 'TC' %}
                            propose un nouveau 
                          {% elif item.fact.action_type == 'TS' %}
                            participe à ce 
                          {% elif item.fact.action_type == 'TU' %}
                            ne participe plus  à ce 
                          {% endif %}
                          <a href="/travel/{{ item.fact.object_travel.id }}">voyage</a></b> <br/> le {{ item.fact.date }}</div>

                        </td>
                      </tr>
                    </table>
                  </div>
                    <div class="row publication-content">
                          <div class="publication-content-title"> <h4>{{ item.fact.object_travel.title }}</h4></div> 
                        
                          <img class="publication-content-image"  src="{{item.fact.object_travel.image.url }}" />                       
                          <p class="publication-content-text"> {{ item.fact.object_travel.description }}</p>
                        
                  </div>
              </div>
            {% elif item.fact.object_type == 'N' %}
                 <div class="col-lg-8">
                      <div class="row publication-header">
                        <table>
                          <tr>
                            <td>
                              <img class="publication-header-logo " src="/static/images/news.png">
                            </td>
                            <td>
                              <div class="publication-header-announce "><b>News</b></br> Publié le {{ item.fact.date }}</div><!---->
                            </td>
                          </tr>
                        </table>
                      </div>

                      <div class="row publication-content">                        
                        <div> 
                          <p class="publication-content-text"> {{ item.fact.message }}</p>
                         </div>
                      </div>
                    </div>
             {% endif %}
           {% endfor %}
        </div>
      </div>
</div><!-- /.container -->


{% endblock content %}