{% extends 'base.html' %}


{% block content %}


<div class="container">
      
        <h1>Bienvenue</h1>

        <div class="starter-template">

        <h1>{{ title }}</h1>

       <div class="publication row">
      
       {% for fact in historique %}
          <div class="col-lg-8">
              <div class="row publication-header">
                <table>
                  <tr>
                    <td>
                      <img class="publication-header-logo " src="{{ fact.actor.image.url }}">
                    </td>
                    <td>
                      {% if fact.action_type == 'TCT' %}
                      <div class="publication-header-announce "><b>{{ fact.actor.user.username }} propose un nouveau <a href="/travel/{{ fact.object_id }}">voyage</a></b> <br/> le {{ fact.date }}</div>

                      {% elif fact.action_type == 'TS'%}
                      <div class="publication-header-announce "><b>{{ fact.actor.user.username }} participe à ce <a href="/travel/{{ fact.object_id }}">voyage</a></b> <br/> le {{ fact.date }}</div>


                      {% elif fact.action_type == 'TU'%}
                      <div class="publication-header-announce "><b>{{ fact.actor.user.username }} ne participe plus  à ce <a href="/travel/{{ fact.object_id }}">voyage </a></b> <br/> le {{ fact.date }}</div>


                      {% endif %}
                    </td>
                  </tr>
                </table>
              </div>
          </div>
           {% endfor %}
        </div>
      </div>
</div><!-- /.container -->


{% endblock content %}