{% extends 'base.html' %}


{% block content %}


<div class="container">
      
        <h1>Bienvenue</h1>

          <div class="action row">
                <div class="col-sm-4">
                        <a href="#" class="dashboard-action-button btn btn-medium btn-primary"></i> Créer un voyage</a></br>
                </div>
                <div class="col-sm-4">
                       <div class="dashboard-action-text">
                         Créer un évenement visible par toute la famille
                       </div> 
               </div>
          </div>
           <div class="action row">
                <div class="col-sm-4">
                        <a href="#" class="dashboard-action-button btn btn-medium btn-primary"></i> Consulter mes voyages</a></br>
                </div>
                <div class="col-sm-4">
                       <div class="dashboard-action-text">
                         Consulter les voyages auxquels je participe
                       </div> 
               </div>
          </div>

      
</div><!-- /.container -->


{% endblock content %}